
services:
  mysql_db:
    image: mysql:8
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: mydb
      MYSQL_USER: app
      MYSQL_PASSWORD: pass
    volumes:
      - ./dbdata:/var/lib/mysql/
##################################################
  postgres:
    image: postgres:latest
    container_name: postgres_container
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: postgres_db
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
###################################################
  node:
    build: .
    ports:
      - "9999:9999"